version: '3.7'
services:
  mongodb:
    volumes:
      - /home/devops/mongodata/portal_sale:/data/db
    ports:
      - '27017:27017'
    logging:
      driver: 'none'
    networks:
      - portal
  back:
    ports:
      - '3000:3000'
    environment:
      - TMS_REDIS_PREFIX=dev-op
      - TMS_REDIS_HOST=192.168.20.247
      - TMS_REDIS_PORT=6300
      - TMS_PORTAL_MONGODB_HOST=psmongodb
      - TMS_PORTAL_MONGODB_PORT=27017
      - TMS_CTRL_MONGODB_DATABASE=tms-portal
    networks:
      - portal

  admin:
    build:
      context: ./ue_admin
      args:
        vue_app_auth_server: http://localhost:3000
        vue_app_api_server: http://localhost:3000
    ports:
      - '3840:80'
    dns:
      - 223.6.6.6
      - 223.5.5.5
    networks:
      - portal

  mongo:
    build:
      context: ./ue_portal
      args:
        vue_app_auth_server: http://localhost:3000
        vue_app_api_server: http://localhost:3000
    ports:
      - '3830:80'
    dns:
      - 223.6.6.6
      - 223.5.5.5
    networks:
      - portal
networks:
  portal:
    driver: bridge
    external: true
