version: '3.7'
services:
  mongodb:
    build: ./mongodb
    image: tms-portal/mongodb:latest
    container_name: tms-portal-mongodb

  back:
    build: ./back
    image: tms-portal/back:latest
    container_name: tms-portal-back
    environment:
      # app 端口号
      # - TMS_APP_PORT=3000
      # app 名称
      # - TMS_APP_NAME=dev-op
      # reids 配置
      # - TMS_REDIS_PREFIX=dev
      # - TMS_REDIS_HOST=localhost
      # - TMS_REDIS_PORT=6378
      # mongodb配置
      # - TMS_MONGODB_USER_NAME=root
      # - TMS_MONGODB_USER_PWD=pmjswjkai
      # 库名配置
      # - TMS_CTRL_MONGODB_DATABASE=tms-portal
    command:
      ['sh', './wait-for.sh', 'psmongodb:27017', '-t', '300', '--', 'node', 'server']

	ue_admin:
		build: 
			context: ./ue_admin
			args:
        vue_app_login_key_username: username
        vue_app_login_key_password: password
        vue_app_login_key_pin: pin
        vue_app_base_url: /admin
        vue_app_auth_base: /auth
        vue_app_api_base: /api	
        vue_app_auth_disabled: No
		image: tms-portal/ue_admin:latest
		container_name: tms-portal-ue_admin
    environment:
      - NGINX_WEB_BASE_URL=/admin


  mongo:
    build: 
      context: ./ue_portal
      args:
        vue_app_login_key_username: username
        vue_app_login_key_password: password
        vue_app_login_key_pin: pin
        vue_app_base_url: /portal
        vue_app_auth_base: /auth
        vue_app_api_base: /api
        vue_app_auth_disabled: No		
    image: tms-portal/ue_portal:latest
		container_name: tms-portal-ue_portal
    environment:
      - NGINX_WEB_BASE_URL=/portal

  
